- @title = "Big Screen"

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to dashboard_path, :class => "brand" do
        &larr; back to dashboard

.container
  .row
    .span4
      .innerspan4
        .page-header
          %h1 New Customers
        %table.table.table-striped
          %thead
            %th Name
            %th Added by
            %th
          - @customers.each do |customer|
            - @person = User.find_by_id(customer.user_id)
            %tr
              %td
                = customer.full_name
              %td
                = @person.full_name
              %td
                = link_to customer, { :class => "btn btn-mini pull-right" } do
                  View

    .span4
      .innerspan4
        .page-header
          %h1
            Recent Quotes
        %table.table.table-striped
          %thead
            %th Customer
            %th Total
          - @quotes.each do |quote|
            %tr
              %td
                = quote.customer.full_name
              %td= number_to_currency(quote.total)
              %td
                = link_to "View", quote, { :class => "btn btn-mini pull-right" }

    .span4
      .innerspan4
        .page-header
          %h1
            Checked-out Samples
        %table{ :class => "table table-striped" }
          %thead
            %th Name
            %th Customer
            %th Out for
          - @checked_out_samples.each do |checked_out_sample|
            %tr
              %td
                = checked_out_sample.sample.name
              %td
                = link_to "#{checked_out_sample.customer.first_name if checked_out_sample.customer.first_name} #{checked_out_sample.customer.last_name if checked_out_sample.customer.last_name}", checked_out_sample.customer
              %td
                = distance_of_time_in_words(checked_out_sample.checkout_time, Time.now)
