- @title = "Big Screen"

- unless current_user.salesrep?
  .hidden-phone
    .tabbable
      %ul.nav.nav-tabs
        %li= link_to "Timeline", dashboard_path
        %li.active= link_to "Big Screen", big_screen_path
.row
  .span6
    .page-header
      %h1 New Customers
    %table.table.table-striped
      %thead
        %th Name
        %th Created
        %th
      - @customers.each do |customer|
        %tr
          %td
            = link_to "#{customer.first_name} #{customer.last_name}", customer
          %td
            %i
              = time_ago_in_words(customer.created_at)
              ago
          %td
            = link_to customer, { :class => "btn btn-primary" } do
              View
  .span6
    .page-header
      %h1
        Recent Quote
    %table.table.table-striped
      %thead
        %th Customer
        %th Total
      - @quotes.each do |quote|
        %tr
          %td= link_to "#{quote.customer.first_name} #{quote.customer.last_name}", customer_path(quote.customer)
          %td= number_to_currency(quote.total)
          %td
            = link_to "View", quote, { :class => "btn btn-primary" }
.row
  .span6
    .page-header
      %h1
        Checked-out Samples
        %small==(#{@checked_out_samples.count})
    %table{ :class => "table table-striped" }
      %thead
        %th Name
        %th Customer
        %th Out for
      - @checked_out_samples.each do |checked_out_sample|
        %tr
          %td
            = checked_out_sample.sample.name
          %td
            = link_to "#{checked_out_sample.customer.first_name if checked_out_sample.customer.first_name} #{checked_out_sample.customer.last_name if checked_out_sample.customer.last_name}", checked_out_sample.customer
          %td
            = distance_of_time_in_words(checked_out_sample.checkout_time, Time.now)
