- if current_user.salesrep?
  .well#dashboard
    %h2
      Timeline
      %small
        for
        %select
          - @date_options.each do |o|
            - if @date_range == o
              %option{ :value => o, :selected => "selected" }= o.to_s.titleize
            - else
              %option{ :value => o}= o.to_s.titleize

      .visible-phone
        %p.btn-group{ "data-toggle" => "buttons-radio" }
          %button.btn.btn-mini.btn-info#customer Customers
          %button.btn.btn-mini.btn-info#samplecheckout
            =current_user.dealer.sample_name.pluralize
          %button.btn.btn-mini.btn-info#estimate Estimates
          %button.btn.btn-mini.btn-info#note Notes

      .hidden-phone
        %p.btn-group{ "data-toggle" => "buttons-radio" }
          %button.btn.btn-large.btn-info#customer Customers
          %button.btn.btn-large.btn-info#samplecheckout
            =current_user.dealer.sample_name.pluralize
          %button.btn.btn-large.btn-info#estimate Estimates
          %button.btn.btn-large.btn-info#note Notes

  .row
    #timelineStream.span12
      - if @timeline_stream
        %h3
          = @timeline_stream.count
          = "Story".pluralize(@timeline_stream.count)
        = render 'shared/timeline'
      - else
        %h3 No stories!
        %p Why don't you go sell to some customers?
    
- else
  .hero-unit
    %h1 Dashboard
    %p An overview of your store activity
    
  .row
    .span6
      .page-header
        %h1 New Customers
      %table.table.table-striped
        %thead
          %th Name
          %th Created
          %th
        - @customers.each do |customer|
          %tr
            %td
              = link_to "#{customer.first_name} #{customer.last_name}", customer
            %td
              %i
                = time_ago_in_words(customer.created_at)
                ago
            %td
              = link_to customer, { :class => "btn btn-primary" } do
                View
  
    .span6
      .page-header
        %h1 
          Recent Estimate
      %table.table.table-striped
        %thead
          %th Customer
          %th Total
        - @estimates.each do |estimate|
          %tr
            %td= link_to "#{estimate.customer.first_name} #{estimate.customer.last_name}", customer_path(estimate.customer)
            %td= number_to_currency(estimate.total)
            %td
              = link_to "View", estimate, { :class => "btn btn-primary" }
        
  .row
    .span6
      .page-header
        %h1 
          Late Appointments
          %small==(#{@late_appointments.count})
      - if @late_appointments.count > 0
        %table.table.table-striped
          %thead
            %th Type
            %th Customer
            %th
          - @late_appointments.each do |appointment|
            %tr
              %td= appointment.appointment_type
              %td
                = link_to "#{appointment.customer.first_name} #{appointment.customer.last_name}", appointment.customer
              %td
                = link_to "View", appointments_path, { :class => "btn" }
      - else
        %span.label.label-success You have no late appointments.
      
    .span6
      .page-header
        %h1 
          Checked-out Samples
          %small==(#{@checked_out_samples.count})
      %table{ :class => "table table-striped" }
        %thead
          %th Name
          %th Customer
          %th Out for
        - @checked_out_samples.each do |checked_out_sample|
          %tr
            %td
              = checked_out_sample.sample.name
            %td
              = link_to "#{checked_out_sample.customer.first_name if checked_out_sample.customer.first_name} #{checked_out_sample.customer.last_name if checked_out_sample.customer.last_name}", checked_out_sample.customer
            %td
              = distance_of_time_in_words(checked_out_sample.checkout_time, Time.now)
