- @title = "Dashboard"

- content_for :subnav do
  #timelinefilterbuttons.btn-group.pull-left{ "data-toggle" => "buttons-radio" }
    %button.btn.btn-large.btn-info#customer Customers
    %button.btn.btn-large.btn-info#samplecheckoutset
      =current_user.company.sample_name.pluralize
    %button.btn.btn-large.btn-info#quote Quotes
  - unless current_user.salesrep?
    .hidden-phone.pull-right
      - if current_user.admin?
        = link_to admin_path, :class => "btn btn-danger admin" do
          %i.icon-bolt
          Admin
      = link_to big_screen_path, :class => "btn border-fix" do
        %i.icon-eye-open
        Big Screen
#dashboard
  .row
    .span12
      %h2
        Timeline
        %small
          for
          %select
            - @date_options.each do |o|
              - name = o == :this_month ? Date.today.strftime("%B") : o.to_s.titleize
              - if @date_range == o
                %option{ :value => o, :selected => "selected" }=name
              - else
                %option{ :value => o}=name
  .row
    #timelineStream.span12
      - if @timeline_stream
        %h3
          = @timeline_stream.count
          = "Activity".pluralize(@timeline_stream.count)
        = render 'shared/timeline'
      - else
        %h3 No activities!

= render 'tutorial'
