= form_for(@quote, :html => { :class => "form-horizontal" }) do |f|
  - if @quote.errors.any?
    %div#errorExplanation
      %h2
        = pluralize(@quote.errors.count, "error")
        prohibited this customer from being saved
      %ul
      - @quote.errors.full_messages.each do |msg|
        %li
          = msg
  
  %fieldset
    %div.control-group
      = f.label :customer_id, "Who are you quoting?", { :class => "control-label" }
      %div.controls
        = f.select :customer_id, options_from_collection_for_select(@customers, :id, :email)
    
  %div.control-group
    = f.label "Charges", { :class => "control-label" }
    %div.controls
      %div{ :class => "ui-select" }
        = link_to "Add a Charge", new_quote_charge_path(@quote), { :class => "btn" }
  
  %table{ :class => "table table-striped" }
    %thead
      %th Date
      %th Service/Product
      %th Price
      %th Quantity
      %th Total
    - @quote.charges.each do |charge|
      %tr
        %td= charge.date.to_s(:long)
        %td= charge.description
        %td= number_to_currency(charge.price)
        %td= "%g" % charge.quantity
        %td= number_to_currency(charge.total)
    %tr
      %td
      %td
      %td
      %td
        %strong
          Total
      %td
        %strong
          = number_to_currency(@quote.charge_total)

  %div.form-actions
    = f.submit(:class => "btn btn-primary btn-large")
    = link_to "Cancel", :back, { :class => "btn btn-large" }
