%div.hero-unit
  %h1 Quotes
  %p
    You have
    %b=pluralize(@quotes.count, "quote")
    for a total of 
    %b==#{number_to_currency(total_quotes(@quotes))}.

  %p
    =link_to new_quote_path, { :class => "btn btn-primary btn-large" } do
      %i{ :class => "icon-shopping-cart icon-white" }
      New Quote

%table{ :class => "table table-striped" }
  %thead
    %th Date
    %th Customer
    %th Rep
    %th Total
  - @quotes.each do |quote|
    %tr
      %td
        =quote.created_at.to_date.to_s(:long_ordinal)
      %td= link_to "#{quote.customer.first_name} #{quote.customer.last_name}", customer_path(quote.customer)
      %td
        =quote.user.first_name
        =quote.user.last_name[0]
      %td= number_to_currency(quote.charge_total)
      %td
        %div.btn-group
          = link_to quote_path(quote), { :class => "btn btn-large" } do
            Add/Remove Charges
          = link_to "Email", nil, { :class => "btn btn-large btn-primary" }