%div.hero-unit
  %h1 Quotes
  %p
    You have
    %b=pluralize(@quotes.count, "quote")
    for a total of 
    %b==#{number_to_currency(total_quotes(@quotes))}.

  %p
    =link_to new_quote_path, { :class => "btn btn-primary btn-large" } do
      %i{ :class => "icon-shopping-cart icon-white" }
      New Quote

%table{ :class => "table table-striped" }
  %thead
    %th Date
    %th Customer
  - @quotes.each do |quote|
    %tr
      %td
        =quote.created_at.to_date.to_s(:long_ordinal)
      %td= link_to "#{quote.customer.first_name} #{quote.customer.last_name}", customer_path(quote.customer)
      %td= number_to_currency(quote.charge_total)
      %td
        %div
          = link_to nil, { :class => "btn" } do
            %i{ :class => "icon-envelope" }
            Email
          = link_to edit_quote_path(quote), { :class => "btn" } do
            %i{ :class => "icon-edit"}
            Edit
