%div.hero-unit
  %h1 Quotes
  %p
    You have
    %b=pluralize(@quotes.count, "quote")
    for a total of 
    %b==#{number_to_currency(total_quotes(@quotes))}.

  %p
    =link_to new_quote_path, { :class => "btn btn-primary btn-large" } do
      %i{ :class => "icon-shopping-cart icon-white" }
      New Quote

%table{ :class => "table table-striped" }
  %thead
    %th Date
    %th Customer
    %th Rep
    %th Total
  - @quotes.each do |quote|
    %tr
      %td
        =quote.created_at.to_date.to_s(:long_ordinal)
      %td= link_to "#{quote.customer.first_name} #{quote.customer.last_name}", customer_path(quote.customer)
      %td
        =quote.user.first_name
        =quote.user.last_name[0]
      %td= number_to_currency(quote.charge_total)
      %td
        .btn-group
          = link_to quote_path(quote), { :class => "btn btn-large" } do
            Edit
          = link_to "Email", quote_deliver_customer_mailer_path(quote), { :confirm => "All you sure you want to email this estimate to #{quote.customer.first_name} #{quote.customer.last_name} (#{quote.customer.email}).", :class => "btn btn-large btn-primary" }
      %td
        .btn-group
          %a.btn.btn-large.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
            Won/Lost
            %span.caret
          %ul.dropdown-menu
            %li= link_to "Won", quote_won_path(quote), :confirm => "Are you sure you want to mark this quote as 'Won'?"
            %li= link_to "Lost", quote_lost_path(quote), :confirm => "Are you sure you want to mark this quote as 'Lost'?"

- if @ended_quotes.count > 0
  %h3 Completed Quotes
  %table{ :class => "table table-striped" }
    %thead
      %th Date
      %th Customer
      %th Rep
      %th Total
    - @ended_quotes.each do |quote|
      %tr
        %td
          =quote.created_at.to_date.to_s(:long_ordinal)
        %td= link_to "#{quote.customer.first_name} #{quote.customer.last_name}", customer_path(quote.customer)
        %td
          =quote.user.first_name
          =quote.user.last_name[0]
        %td= number_to_currency(quote.charge_total)
        %td
          - if quote.status == "won"
            %span.label.label-success Won
          - else
            %span.label Lost
        %td
          = form_for(quote) do |f|
            = f.submit("Reset", :class => "btn btn-mini")
            = f.hidden_field :status, :value => nil