=link_to :back, { :class => "btn" } do
  %i.icon-arrow-left
.page-header
  %h1
    Quote for
    =@quote.customer.first_name
    =@quote.customer.last_name

%button.btn.btn-large.btn-success#expandCharge{ "data-toggle" => "button" }
  %i.icon-plus-sign.icon-white
  Add a Charge

- samples = get_samples
#chargearea.hide{ :autofill => autofill(samples).to_json, :samples => samples.to_json }
  = render 'charges/form'

%table.table.table-striped
  - @quote.charges.each do |charge|
    %tr
      %td= charge.description
      %td
        %span.badge==#{"%g" % charge.quantity}&times;
        = number_to_currency(charge.price)
      %td
        = link_to [@quote, charge], :confirm => "Are you sure you want to remove '#{charge.description}' from this quote?", :method => :delete, :class => "close" do
          &times;
  %tr
    %td
      %strong.pull-right
        Total
    %td
      %strong
        %span.badge.badge-success= number_to_currency(@quote.total)
    %td
