= form_for(@sample_checkout, :html => { :class => "form-horizontal" }) do |f|
  - if @sample_checkout.errors.any?
    %div#errorExplanation
      %h2
        = pluralize(@sample_checkout.errors.count, "error")
        prohibited this customer from being saved
      %ul
      - @sample_checkout.errors.full_messages.each do |msg|
        %li
          = msg
  
  %fieldset
    %div.control-group
      = f.label "Choose Customer", { :class => "control-label" }
      %div.controls
        = f.select :customer_id, options_from_collection_for_select(@customers, :id, :email)
    %div.control-group
      = f.label "Choose Sample(s)", { :class => "control-label" }
      %div.controls
        = f.select(:sample_id, options_from_collection_for_select(@samples, :id, :name), {:multiple => "true", "data-native-menu" => "false"})

    %div.form-actions
      = f.submit("Checkout", :class => "btn btn-primary btn-large")
      = f.hidden_field :checkout_time, :value => Time.now
      = f.hidden_field :user_id, :value => current_user.id
