%div.hero-unit
  %h1 Checked-out Samples
  %p
    You currently have
    = pluralize(@checked_out_samples.count, "checked-out sample")
  %p
    = link_to new_sample_checkout_path, { :class => "btn btn-primary btn-large" } do
      %i{ :class => "icon-th icon-white" }
      Checkout Sample(s)
  
%table{ :class => "table table-striped" }
  %thead
    %th ID
    %th Name
    %th Date Issued
    %th Customer
    %th Rep
    %th
  - @checked_out_samples.each do |checked_out_sample|
    %tr
      %td
        = checked_out_sample.sample.dealer_sample_id
      %td
        = checked_out_sample.sample.name
      %td
        = checked_out_sample.created_at.to_date.to_s(:long_ordinal)
      %td
        = link_to "#{checked_out_sample.customer.first_name if checked_out_sample.customer.first_name} #{checked_out_sample.customer.last_name if checked_out_sample.customer.last_name}", checked_out_sample.customer
      %td
        = checked_out_sample.user.first_name
        = checked_out_sample.user.last_name[0]
      %td
        = form_for(checked_out_sample) do |f|
          = f.submit("Check-in", :class => "btn btn-large btn-primary")
          = f.hidden_field :checkin_time, :value => Time.now