%div.page-header
  %h1 Log in

= form_tag sessions_path do
  = error_messages_for :session
  %div.field
    = label_tag :email
    = text_field_tag :email, params[:email]
  %div.field
    = label_tag :password
    = password_field_tag :password
  %div.field
    = check_box_tag :remember_me, 1, params[:remember_me]
    = label_tag :remember_me
  %div.form-actions
    = submit_tag "Log in", {:class => "btn btn-large btn-primary"}
    = link_to "Create New Account", new_user_path, :class => "btn btn-large"