%div.page-header
  %h1 Log in

= form_tag sessions_path, :class => "form-horizontal" do
  = error_messages_for :session
  %fieldset
    %div.control-group
      = label_tag :email, "Email", { :class => "control-label" }
      %div.controls
        = text_field_tag :email, params[:email], :placeholder => "joe@mycarpet.com"
    %div.control-group
      = label_tag :password, "Password", { :class => "control-label" }
      %div.controls
        = password_field_tag :password
    %div.control-group
      = label_tag :remember_me, "Remember Me", { :class => "control-label" }
      %div.controls
        = check_box_tag :remember_me, 1, params[:remember_me], { "checked" => "yes" }
      
    %div.form-actions
      = submit_tag "Log in", {:class => "btn btn-large btn-primary"}
      %span.pull-right
        = link_to new_dealer_path, :class => "btn btn-large" do
          %i.icon-plus-sign
          Signup