%div.container
  %div.row
    %div.span6.offset3#login        
      = form_tag sessions_path, :class => "well" do
        = error_messages_for :session
        %h1 Sign in
        %hr
        %fieldset
          = text_field_tag :email, params[:email], :placeholder => "Email", :style => "width:98%", :autocapitalize => "off", :autocorrect => "off"
          %br
          = password_field_tag :password, nil, :placeholder => "Password", :style => "width:98%"
          %br
          = check_box_tag :remember_me, 1, params[:remember_me], { "checked" => "yes", :class => "remember_check" }
          = label_tag :remember_me, "Remember Me", { :class => "remember_check_label" }
          %br
          %hr
          = submit_tag "Sign in", {:class => "btn btn-large btn-primary"}
          %span.pull-right
            = link_to signup_path, :class => "btn btn-large" do
              Register
