%h1 Samples Checked-out

= link_to "Checkout Sample(s)", checkout_samples_path, { "data-role" => "button", "data-transition" => "flip", "data-theme" => "b", "data-icon" => "plus", "data-iconpos" => "left", :class => "medium" }
  
%table
  %thead
    %td ID
    %td Name
    %td Date Issued
    %td
  - @samples.each do |sample|
    %tr
      %td
        = sample.id
      %td
        = sample.name
      %td
        = sample.created_at #this will need to be date_issued when available
      %td
        = link_to "Check-in", nil, { "data-role" => "button" }