%div.hero-unit
  %h1 Estimates
  %p
    You have
    %b=pluralize(@estimates.count, "estimate")
    for a total of 
    %b==#{number_to_currency(total_estimates(@estimates))}.
    
  %p
    =link_to new_estimate_path, { :class => "btn btn-primary btn-large" } do
      %i{ :class => "icon-shopping-cart icon-white" }
      New Estimate

%table{ :class => "table table-striped" }
  %thead
    %th Date
    %th Customer
    %th Rep
    %th Total
  - @estimates.each do |estimate|
    %tr
      %td
        =estimate.created_at.to_date.to_s(:long_ordinal)
      %td= link_to "#{estimate.customer.first_name} #{estimate.customer.last_name}", customer_path(estimate.customer)
      %td
        =estimate.user.first_name
        =estimate.user.last_name[0]
      %td= number_to_currency(estimate.charge_total)
      %td
        .btn-group
          = link_to estimate_path(estimate), { :class => "btn btn-large" } do
            Edit
          = link_to "Email", estimate_deliver_customer_mailer_path(estimate), { :confirm => "All you sure you want to email this estimate to #{estimate.customer.first_name} #{estimate.customer.last_name} (#{estimate.customer.email}).", :class => "btn btn-large btn-primary" }
      %td
        .btn-group
          %a.btn.btn-large.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
            Won/Lost
            %span.caret
          %ul.dropdown-menu
            %li= link_to "Won", estimate_won_path(estimate), :confirm => "Are you sure you want to mark this estimate as 'Won'?"
            %li= link_to "Lost", estimate_lost_path(estimate), :confirm => "Are you sure you want to mark this estimate as 'Lost'?"

- if @ended_estimates.count > 0
  %h3 Completed Estimates
  %table{ :class => "table table-striped" }
    %thead
      %th Date
      %th Customer
      %th Rep
      %th Total
    - @ended_estimates.each do |estimate|
      %tr
        %td
          =estimate.created_at.to_date.to_s(:long_ordinal)
        %td= link_to "#{estimate.customer.first_name} #{estimate.customer.last_name}", customer_path(estimate.customer)
        %td
          =estimate.user.first_name
          =estimate.user.last_name[0]
        %td= number_to_currency(estimate.charge_total)
        %td
          - if estimate.status == "won"
            %span.label.label-success Won
          - else
            %span.label Lost
        %td
          = form_for(estimate) do |f|
            = f.submit("Reset", :class => "btn btn-mini")
            = f.hidden_field :status, :value => nil