%div.page-header
  %h1 
    Estimate for
    =@estimate.customer.first_name
    =@estimate.customer.last_name
    
  %div.form-actions
    = link_to :back, { :class => "btn btn-large" } do
      %i{ :class => "icon-arrow-left" }
      Back
    = link_to "#myModal", { "data-toggle" => "modal", :show => "false", :class => "btn btn-large btn-success" } do
      %i.icon-plus-sign.icon-white
      Add a Charge
    %div.pull-right
      = link_to "Change Customer", edit_estimate_path(@estimate), { :class => "btn btn-large" }

%table{ :class => "table table-striped" }
  %thead
    %th Service/Product
    %th Price
    %th Quantity
    %th Total
    %th
  - @estimate.charges.each do |charge|
    %tr
      %td= charge.description
      %td= number_to_currency(charge.price)
      %td= "%g" % charge.quantity
      %td= number_to_currency(charge.total)
      %td
        = button_to 'Remove', [@estimate, charge], :confirm => "Are you sure you want to remove '#{charge.description}' from this estimate?", :method => :delete, :class => "btn btn-danger"
  %tr
    %td
    %td
    %td
      %strong
        Total
    %td
      %strong
        = number_to_currency(@estimate.total)
    %td
    
= render 'charges/form'