%div.span3
  .well
    %ul.nav.nav-pills.nav-stacked
      - if current_user.role == "owner"
        - ["Account", "Dealer", "General", "Users", "Extras"].each do |tab|
          %li{ :class => "#{ "active" if tab.downcase.eql? request.path.split("/").last }" }
            = link_to tab, eval("account_settings_#{ tab.downcase }_path")
      - else
        - ["Account", "Extras"].each do |tab|
          %li{ :class => "#{ "active" if tab.downcase.eql? request.path.split("/").last }" }
            = link_to tab, eval("account_settings_#{ tab.downcase }_path")
      %li
        = link_to "Sign Out", logout_path, :confirm => "Are you sure you want to sign out?"