.page-header
  %h1 Account Settings
.row
  = render 'navigation'
  .span9
    = form_for @user, :url => { :controller => "users", :action => "update", :id => @user.id }, :html => { :class => "form-horizontal", :multipart => true } do |f|
      = render "shared/error_messages", :target => @user
      %fieldset
        .control-group
          = f.label :first_name, { :class => "control-label" }
          .controls
            = f.text_field :first_name, :placeholder => "Joe"
        .control-group
          = f.label :last_name, { :class => "control-label" }
          .controls
            = f.text_field :last_name, :placeholder => "Smith"
        .control-group
          = f.label :email, { :class => "control-label" }
          .controls
            = f.text_field :email, :placeholder => "joe@mycarpet.com", :type => :email
        .control-group
          = f.label :password, { :class => "control-label" }
          .controls
            = f.password_field :password
        .control-group
          = f.label :password_confirmation, { :class => "control-label" }
          .controls
            = f.password_field :password_confirmation
        .control-group
          = f.label :phone, { :class => "control-label" }
          .controls
            = f.text_field :phone, :placeholder => "(555) 123-4567", :type => :tel
        .control-group
          = f.label :avatar, { :class => "control-label" }
          .controls
            = f.file_field :avatar
            - if @user.avatar_file_name
              %br
              %p= image_tag @user.avatar.url(:thumb), :class => "avatar"
              %p= link_to "Remove Avatar", user_detatch_avatar_path, :class => "btn btn-mini btn-danger", :confirm => "Are you sure you want to remove your avatar?", :method => "put"
            .visible-desktop
              %p.alert.alert-info
                This image will be used in email messages sent to your customers.
            .hidden-desktop
              %br
              %p.alert.alert-success
                You can upload an image here from a
                %strong non-mobile
                device. It will be used in email messages sent to your customers.
        .control-group
          = f.label "Signature message", { :class => "control-label" }
          .controls
            = f.text_area :message, { :rows => 8 }
            %p
            .alert.alert-info
              This message will appear above your signature in emails sent to your customers.
        .control-group
          .controls
            = f.submit("Save", :class => "btn btn-primary btn-large" )
