- @title = "Account Settings — General"

.page-header
  %h1 Account Settings

.row
  = render 'navigation'

  .span9
    = form_for @dealer, :html => { :class => "form-horizontal" } do |f|
      - content_for :subnav do
        .pull-right
          = f.submit("Save", :class => "btn btn-primary btn-large")
      = render "shared/error_messages", :target => @dealer
      %fieldset
        .control-group
          = f.label "Sample Name", { :class => "control-label" }
          .controls
            = f.text_field :sample_name, :placeholder => "Sample"
            %p
              .alert.alert-info
                This term describes objects that can be checked in and out of your store. Some examples are "Demo", "Bike", "Trial".
