- @title = "Account Settings — General"

.page-header
  %h1 Account Settings

.row
  = render 'navigation'

  .span9
    = form_for @company, :html => { :class => "form-horizontal", :id => "account_settings_general" } do |f|
      - content_for :subnav do
        .pull-right
          %input{ :type => :submit, :value => "Save", :class => "btn btn-primary btn-large",
            :form => "account_settings_general" }
      = render "shared/error_messages", :target => @company
      %fieldset
        .control-group
          = f.label "Sample Name", { :class => "control-label" }
          .controls
            = f.text_field :sample_name, :placeholder => "Sample"
            %p
              .alert.alert-info
                This term describes objects that can be checked in and out of your store. Some examples are "Demo", "Bike", "Trial".
