- @title = "Account Settings — Users"

.page-header
  %h1 Account Settings

.row
  = render 'navigation'

  .span9
    %p
      %button#expandNewUser{ :class => "btn btn-large btn-success", "data-toggle" => "button" }
        %i.icon-plus-sign.icon-white
        Invite User to Join You
    #newUserArea.hide
      .well
        = render 'invite_user'
    %table.table.table-striped#users
      = render @dealer.users
      - @sent_invitations.each do |sent_invitation|
        %tr
          %td
            %span
              = sent_invitation.recipient_email
          %td
            = link_to "Invited", nil, :class => "btn", :disabled => "disabled"

