.modal-header
  %a.close{ "data-dismiss" => "modal" }
    &times;
  %h3 Create new user

= form_for @user, :url => create_user_path, :html => { :class => "form-horizontal" } do |f|
  .modal-body
    = f.error_messages :header_message => "There were problems with the following fields:",
      :message => "",
      :header_tag => :h3
    %fieldset
      .control-group
        = f.label :first_name, { :class => "control-label" }
        .controls
          = f.text_field :first_name, :placeholder => "Joe"
      .control-group
        = f.label :last_name, { :class => "control-label" }
        .controls
          = f.text_field :last_name, :placeholder => "Smith"
      .control-group
        = f.label :email, { :class => "control-label" }
        .controls
          = f.text_field :email, :placeholder => "joe@mycarpet.com"
      .control-group
        = f.label :password, { :class => "control-label" }
        .controls
          = f.password_field :password
      .control-group
        = f.label :password_confirmation, { :class => "control-label" }
        .controls
          = f.password_field :password_confirmation
  .modal-footer
    = f.submit(:class => "btn btn-primary btn-large" )
