%tr
  %td
    %b
      %span{ :class => !user.active? && "help-block" }
        = user.full_name
    %br
    %span{ :class => !user.active? && "help-block" }
      = user.email
  %td
    = form_for user, :url => update_user_path(user) do |f|
      - if current_user == user
        = f.submit("This is you", :class => "btn disabled", :disabled => "disabled")
      - elsif current_user.company.users.exists?(user)
        - if user.active?
          = f.hidden_field :active, :value => false
          = f.submit("Deactivate", :class => "btn btn-danger", :confirm => "Are you sure you want to deactivate #{user.first_name}?")
        - else
          = f.hidden_field :active, :value => true
          = f.submit("Reactivate", :class => "btn", :confirm => "Are you sure you want to reactivate #{user.first_name}?")
      - else
        - invitation = Invitation.find_by_recipient_id user.id
        %button.btn.disabled
          - case invitation.status
          - when "sent"
            Invited
          - when "rejected"
            Declined
