.accordion{ :id => "accordion" }
  - @timeline_stream.each do |item|
    .accordion-group
      .accordion-heading
        = link_to "#collapse#{item.id}", { :class => "accordion-toggle", "data-toggle" => "collapse", "data-parent" => "#accordion" } do
          %strong
            =time_ago_in_words(item.updated_at).capitalize
            ago
          - if item.class.eql? Estimate
            - if item.user.eql? current_user
              you
            - else
              = item.user.full_name
            == gave #{item.customer.first_name} an estimate for #{ number_to_currency(item.total) }.
          - elsif item.class.eql? SampleCheckout
            == #{item.customer.first_name} checked-out #{ item.sample.name }.
      %div{ :class => "accordion-body collapse", :id => "collapse#{item.id}" }
        .accordion-inner
          .control-group
            %h4
              = item.customer.first_name
              = item.customer.last_name
            %i.help-block==#{item.updated_at.to_formatted_s(:long_ordinal)}
            %br
            - if item.class.eql? Estimate
              %table{ :class => "table table-striped" }
                - item.charges.each do |charge|
                  %tr
                    %td
                      ==#{"%g" % charge.quantity}x
                      = charge.description
                    %td= number_to_currency(charge.total)
              .btn-group
                = link_to customer_path(item.customer), :class => "btn btn-large" do
                  = item.customer.first_name
                  %i.icon-arrow-right
                = link_to estimate_path(item), :class => "btn btn-large" do
                  Estimate
                  %i.icon-arrow-right