.accordion{ :id => "accordion" }
  - @timeline_stream.each do |story|
    .accordion-group.story{ :class => story.class.to_s.downcase << "accordion" }
      .accordion-heading
        - id = "#{story.class}#{story.id}"
        = link_to "#collapse#{id}", { :class => "accordion-toggle", "data-toggle" => "collapse", "data-parent" => "#accordion" } do
          %strong
            =time_ago_in_words(story.updated_at).capitalize
            ago
          = to_sentence(story)
      %div{ :class => "accordion-body collapse", :id => "collapse#{id}" }
        .accordion-inner
          .control-group
            %p
              %i.help-block==#{story.updated_at.to_formatted_s(:long_ordinal)}
            - if story.instance_of?(Estimate)
              /- if story.status.blank?
              /  %p   
              /    .btn-group{ "data-toggle" => "buttons-checkbox" }
              /      = link_to "#", { :class => "btn btn-success expandAddCharge" } do
              /        %i.icon-plus-sign.icon-white
              /        Add a Charge
              /    .addChargeArea.hide
              /      / NOTE should use the 'charges/form' partial
              /      = form_for @charge, :url => { :action => "create", :controller => "charges" }, :html => { :class => "form-horizontal" } do |f|
              /        = f.error_messages :header_message => "There were problems with the following fields:",
              /          :message => "",
              /          :header_tag => :h3
              /        %fieldset
              /          %div.control-group
              /            = f.label :description, "Description", { :class => "control-label" }
              /            %div.controls
              /              = f.text_field :description, :placeholder => "Carpet installation"
              /          %div.control-group
              /            = f.label :price, { :class => "control-label" }
              /            %div.controls
              /              = f.text_field :price, :placeholder => "500"
              /        %div.control-group
              /          = f.label :quantity, { :class => "control-label" }
              /          %div.controls
              /            = f.text_field :quantity, :placeholder => "1"
              /        = f.submit(:class => "btn btn-primary")
              /        = f.hidden_field :date, :value => Time.now
              /        = f.hidden_field :estimate_id, :value => story.id
              /
              - if story.charges.count.nonzero?
                %table{ :class => "table table-striped" }
                  - story.charges.each do |charge|
                    %tr
                      %td
                        ==#{"%g" % charge.quantity} &times;
                        = charge.description
                      %td= number_to_currency(charge.total)
                      /- if story.status.blank?
                      /  %td
                      /    %h2
                      /      = link_to [story, charge], :confirm => "Are you sure you want to delete this charge?", :class => "close", :method => :delete do
                      /        &times;
            - elsif story.instance_of? Note
              %blockquote= story.content
            - elsif story.instance_of? SampleCheckout
              - if story.checkin_time?
                %p==#{story.sample.name} has now been returned. It was checked-out for <strong>#{distance_of_time_in_words(story.created_at, story.checkin_time)}</strong>.
            .btn-group
              - unless @customer
                - customer = story.instance_of?(Customer) ? story : story.customer
                = link_to customer_path(customer), :class => "btn" do
                  %i.icon-user
                  = customer.full_name
              - if story.instance_of? Note
                = link_to customer_note_path(story.customer, story.id), :class => "btn", :confirm => "Are you sure you want to delete this note?", :method => :delete do
                  %i.icon-remove-circle
                  Delete
              - elsif story.instance_of? SampleCheckout
                - if story.checkin_time.blank?
                  = link_to sample_checkout_check_in_path(story), :class => "btn btn-primary", :confirm => "Are you sure #{story.sample.name} has been returned to your store?" do
                    Check-in
            - if (story.instance_of? Estimate) && (story.status.blank?)
              %p
                .btn-group
                  = link_to estimate_path(story), :class => "btn" do
                    %i.icon-pencil
                    Modify Estimate
                  = link_to "Email", estimate_deliver_customer_mailer_path(story), { :confirm => "Are you sure you want to email this estimate to #{story.customer.full_name} (#{story.customer.email})?", :class => "btn btn-primary" }
                  /= link_to "Won", estimate_won_path(story), :confirm => "Are you sure you want to mark this estimate as 'Won'?", :class => "btn"
                  /= link_to "Lost", estimate_lost_path(story), :confirm => "Are you sure you want to mark this estimate as 'Lost'?", :class => "btn"
