%div.span3
  .well{ :style => "padding: 8px 0;"}
    %ul.nav.nav-list

      - options = ["Account", "Password", "Extras"]
      - if current_user.owner?
        - options.insert 2, ["Company", "Users"]
        - options.flatten!

      - options.each do |tab|
        - @active = tab.downcase.eql? request.path.split("/").last
        %li{ :class => "#{ "active" if @active }" }
          = link_to eval("settings_#{ tab.downcase }_path") do
            - @white = @active ? "icon-white" : nil
            - case tab
            - when "Account"
              %i.icon-cog{ :class => @white }
              Your Account
            - when "Password"
              %i.icon-lock{ :class => @white }
              Password
            - when "Company"
              %i.icon-home{ :class => @white }
              Company Info
            - when "Users"
              %i.icon-user{ :class => @white }
              Users
            - when "Extras"
              %i.icon-star{ :class => @white }
              Extras
      %li.divider
      %li
        = link_to send_email_preview_settings_path, :confirm => "This will send a test email to #{@user.email}. Continue?" do
          %i.icon-envelope
          Email Preview
      %li.divider
      = link_to "Sign Out", logout_path, :confirm => "Are you sure you want to sign out?", :class => "btn"
