- @title = "Account Settings — Password"

.settings-page-header
  %h1 
    %i.icon-cogs.icon-large
    Settings
.row
  = render 'navigation'
  .span9
    = form_for @user, :url => { :controller => "users", :action => "update", :id => @user.id }, :html => { :class => "form-horizontal", :multipart => true, :id => "settings_password" } do |f|
      - content_for :subnav do
        .pull-right
          %input{ :type => :submit, :value => "Save", :form => "settings_password", :class => "btn btn-primary btn-large", :onclick => "return tog('load')" }

      = render "shared/error_messages", :target => @user
      %fieldset
        .control-group
          = f.label :password, { :class => "control-label" }
          .controls
            = f.password_field :password
        .control-group
          = f.label :password_confirmation, { :class => "control-label" }
          .controls
            = f.password_field :password_confirmation
