= form_for(@customer) do |f|
  - if @customer.errors.any?
    %div#errorExplanation
      %h2
        = pluralize(@customer.errors.count, "error")
        prohibited this customer from being saved:
      %ul
      - @customer.errors.full_messages.each do |msg|
        %li
          = msg
  
  %div.field{ "data-role" => "fieldcontain" }
    %fieldset{ "data-role" => "controlgroup" }
      = f.label :first_name
      = f.text_field :first_name, :placeholder => "Jane"
  %div.field{ "data-role" => "fieldcontain" }
    %fieldset{ "data-role" => "controlgroup" }
      = f.label :last_name
      = f.text_field :last_name, :placeholder => "Doe"
  %div.field{ "data-role" => "fieldcontain" }
    %fieldset{ "data-role" => "controlgroup" }
      = f.label :email
      = f.text_field :email, :placeholder => "janedoe@gmail.com"
  %div.field{ "data-role" => "fieldcontain" }
    %fieldset{ "data-role" => "controlgroup" }
      = f.label :address_1
      = f.text_field :address_1, :placeholder => "123 Main St."
  %div.field{ "data-role" => "fieldcontain" }
    %fieldset{ "data-role" => "controlgroup" }
      = f.label :address_2
      = f.text_field :address_2, :placeholder => "Suite 11"
  %div.field{ "data-role" => "fieldcontain" }
    %fieldset{ "data-role" => "controlgroup" }
      = f.label :city
      = f.text_field :city, :placeholder => "Denver"
  %div.field{ "data-role" => "fieldcontain" }
    %fieldset{ "data-role" => "controlgroup" }
      = f.label :state
      = f.text_field :state, :placeholder => "CO"
  %div.field{ "data-role" => "fieldcontain" }
    %fieldset{ "data-role" => "controlgroup" }
      = f.label :zip
      = f.text_field :zip, :placeholder => "12345"
  %div.field{ "data-role" => "fieldcontain" }
    %fieldset{ "data-role" => "controlgroup" }
      = f.label :phone
      = f.text_field :phone, :placeholder => "555-123-4567"

  %div.actions
  = f.submit("data-theme" => "b")
