= form_for(@customer, :html => { :class => "form-horizontal" }) do |f|
  = render "shared/error_messages", :target => @customer
  %fieldset
    .accordion{ :id => "accordion" }
      .accordion-group
        .accordion-heading
          = link_to "#collapseOne", { :class => "accordion-toggle", "data-toggle" => "collapse" } do
            %i.icon-exclamation-sign
            Required
        #collapseOne{ :class => "accordion-body in" }
          .accordion-inner
            .control-group
              = f.label :first_name, { :class => "control-label" }
              .controls
                = f.text_field :first_name, :placeholder => "Jane"
            .control-group
              = f.label :last_name, { :class => "control-label" }
              .controls
                = f.text_field :last_name, :placeholder => "Doe"
            .control-group
              = f.label :email, { :class => "control-label" }
              .controls
                = f.text_field :email, :placeholder => "janedoe@gmail.com", :type => :email
      .accordion-group
        .accordion-heading
          = link_to "#collapseTwo", { :class => "accordion-toggle", "data-toggle" => "collapse" } do
            %i.icon-plus-sign
            Additional
        #collapseTwo{ :class => "accordion-body collapse" }
          .accordion-inner
            .control-group
              = f.label :address_1, { :class => "control-label" }
              .controls
                = f.text_field :address_1, :placeholder => "123 Main St."
            .control-group
              = f.label :address_2, { :class => "control-label" }
              .controls
                = f.text_field :address_2, :placeholder => "Suite 11"
            .control-group
              = f.label :city, { :class => "control-label" }
              .controls
                = f.text_field :city, :placeholder => "Denver"
            .control-group
              = f.label :state, { :class => "control-label" }
              .controls
                = f.text_field :state, :placeholder => "CO"
            .control-group
              = f.label :zip, { :class => "control-label" }
              %div.controls
                = f.text_field :zip, :placeholder => "12345"
            .control-group
              = f.label :phone, { :class => "control-label" }
              .controls
                = f.text_field :phone, :placeholder => "555-123-4567", :type => :tel

  .footer
    .pull-right
      = link_to :back, { :class => "btn btn-large btn-inverse" } do
        %i.icon-arrow-left.icon-white
        Customers
      = f.submit("Save", :class => "btn btn-primary btn-large")
