= form_for(@customer, :html => { :class => "form-horizontal" }) do |f|
  - if @customer.errors.any?
    %div#errorExplanation
      %h2
        = pluralize(@customer.errors.count, "error")
        prohibited this customer from being saved
      %ul
      - @customer.errors.full_messages.each do |msg|
        %li
          = msg
  %fieldset
    %div.control-group
      = f.label :first_name, { :class => "control-label" }
      %div.controls
        = f.text_field :first_name, :placeholder => "Jane"
    %div.control-group
      = f.label :last_name, { :class => "control-label" }
      %div.controls
        = f.text_field :last_name, :placeholder => "Doe"
    %div.control-group
      = f.label :email, { :class => "control-label" }
      %div.controls
        = f.text_field :email, :placeholder => "janedoe@gmail.com"
    %div.control-group
      = f.label :address_1, { :class => "control-label" }
      %div.controls
        = f.text_field :address_1, :placeholder => "123 Main St."
    %div.control-group
      = f.label :address_2, { :class => "control-label" }
      %div.controls
        = f.text_field :address_2, :placeholder => "Suite 11"
    %div.control-group
      = f.label :city, { :class => "control-label" }
      %div.controls
        = f.text_field :city, :placeholder => "Denver"
    %div.control-group
      = f.label :state, { :class => "control-label" }
      %div.controls
        = f.text_field :state, :placeholder => "CO"
    %div.control-group
      = f.label :zip, { :class => "control-label" }
      %div.controls
        = f.text_field :zip, :placeholder => "12345"
    %div.control-group
      = f.label :phone, { :class => "control-label" }
      %div.controls
        = f.text_field :phone, :placeholder => "555-123-4567"
    %div.control-group
      = f.label :notes, { :class => "control-label" }
      %div.controls
        = f.text_area :notes, :placeholder => "Write some notes here"

    %div.form-actions.btn-group
      = f.submit(:class => "btn btn-primary btn-large")
      = link_to "Cancel", :back, { :class => "btn btn-large" }
