%br
%table.table.table-striped
  = form_for(@customer, :html => { :id => "customer_form" }) do |f|
    %tr
      %td
        %b Name
      %td
        %p= f.text_field :first_name, :value => @customer.first_name, :class => "quick_edit"
        = f.text_field :last_name, :value => @customer.last_name, :class => "quick_edit"
    %tr
      %td
        %b Email
      %td
        = f.text_field :email, :value => @customer.email, :type => :email, :class => "quick_edit"
    %tr
      %td
        %b Phone
      %td
        = f.text_field :phone, :value => number_to_phone(@customer.phone), :type => :tel, :class => "quick_edit"
    %tr
      %td
        %strong Address
      %td
        = f.text_field :address_1, :value =>  @customer.address_1, :class => "quick_edit"
    %tr
      %td
        %strong City
      %td
        = f.text_field :city, :value => @customer.city, :class => "quick_edit"
    %tr
      %td
        %strong State &amp; Zip
      %td
        %p= f.text_field :state, :value => @customer.state, :class => "quick_edit"
        = f.text_field :zip, :value => @customer.zip, :class => "quick_edit"
      
  - if @current_user.subscribes_to_customer_extensions? and @customer.customer_extension
    %tr.customer_extension
      %td.top-border
        %b Age
      %td.top-border
        - if @customer.customer_extension and @customer.customer_extension.age
          = @customer.customer_extension.age
        - else
          %span.help-block N/A
    %tr.customer_extension
      %td
        %b Gender
      %td
        - if @customer.customer_extension and @customer.customer_extension.gender
          = @customer.customer_extension.gender
        - else
          %span.help-block N/A
    %tr.customer_extension
      %td
        %b Education
      %td.customer_extension
        - if @customer.customer_extension and @customer.customer_extension.education
          = @customer.customer_extension.education
        - else
          %span.help-block N/A
    %tr.customer_extension
      %td
        %b Income
      %td.customer_extension
        - if @customer.customer_extension and @customer.customer_extension.household_income
          = @customer.customer_extension.household_income
        - else
          %span.help-block N/A
    %tr.customer_extension
      %td
        %b Married?
      %td
        - if @customer.customer_extension and @customer.customer_extension.marital_status
          = @customer.customer_extension.marital_status
        - else
          %span.help-block N/A
    %tr.customer_extension
      %td
        %b Home Owner?
      %td
        - if @customer.customer_extension and @customer.customer_extension.home_owner_status
          = @customer.customer_extension.home_owner_status
        - else
          %span.help-block N/A
    %tr.customer_extension
      %td
        %b Home Market Value
      %td
        - if @customer.customer_extension and @customer.customer_extension.home_market_value
          = @customer.customer_extension.home_market_value
        - else
          %span.help-block N/A
    %tr.customer_extension
      %td
        %b Home Property Value
      %td
        - if @customer.customer_extension and @customer.customer_extension.home_property_value
          = @customer.customer_extension.home_property_value
        - else
          %span.help-block N/A
    %tr.customer_extension
      %td
        %b Length of Residence
      %td
        - if @customer.customer_extension and @customer.customer_extension.length_of_residence
          = @customer.customer_extension.length_of_residence
        - else
          %span.help-block N/A
    %tr.customer_extension
      %td
        %b Zip
      %td
        - if @customer.customer_extension and @customer.customer_extension.zip
          = @customer.customer_extension.zip
        - else
          %span.help-block N/A
    %tr.customer_extension
      %td
        %b Occupation
      %td
        - if @customer.customer_extension and @customer.customer_extension.occupation
          = @customer.customer_extension.occupation
        - else
          %span.help-block N/A
          
  - elsif @current_user.subscribes_to_customer_extensions? and !@customer.customer_extension
    %tr.customer_extension
      %td.top-border
        %b Check for more info
      %td.top-border
        = link_to customer_create_customer_extension_path(@customer), :method => "post", :class => "btn btn-info" do
          %i.icon-plus.icon-white
          Check

  - else
    %tr.customer_extension
      %td.top-border
        %b Check for more info
      %td.top-border
        = form_for @user, :url => { :controller => "users", :action => "update_user_and_look_up_customer", :current_user_id => @user.id, :customer_id => @customer.id } do |f|
          = render "shared/error_messages", :target => @user
          = f.hidden_field :subscribes_to_customer_extensions, :value => true
          = f.submit("Subscribe", :class => "btn btn-success", :confirm => "Do you want to subscribe?")