%br
%table.table.table-striped
  %tr
    %td
      %b Name
    %td= @customer.full_name
  %tr
    %td
      %b Email
    %td
      .truncate-email
        = mail_to @customer.email
  %tr
    %td
      %b Phone
    %td
      = number_to_phone(@customer.phone)
  %tr
    %td
      %strong Address
    %td
      = @customer.address_1
  %tr
    %td
      %strong City
    %td
      = @customer.city
  %tr
    %td
      %strong State &amp; Zip
    %td
      = @customer.state
      = @customer.zip
