%div.hero-unit
  %h1 Customers
  %p
    You currently have
    = pluralize(@customers.count, "customer")
    on file
  %p
    = link_to new_customer_path, { :class => "btn btn-primary btn-large" } do
      %i{ :class => "icon-user icon-white" }
      Create New Customer

%div.row
  %table{ :class => "table table-striped" }
    - @customers.each do |customer|
      %tr
        %td
          = image_tag "http://placekitten.com/120/#{rand(100..120)}", :class => "avatar"
        %td
          = customer.first_name if customer.first_name?
          = customer.last_name if customer.last_name?
        %td
          %div.truncate-email
            = link_to customer.email, "mailto:#{customer.email}"
        %td
          = link_to edit_customer_path(customer), { :class => "btn" } do
            %i.icon-cog
            Edit
          = link_to customer, { :class => "btn" } do
            %i.icon-info-sign
            Details
