%h1 Customers

= link_to "Create New Customer", new_customer_path, { "data-role" => "button", "data-transition" => "flip", "data-theme" => "b", "data-icon" => "plus", "data-iconpos" => "left", :class => "medium" }

%table
  - @customers.each do |customer|
    %tr
      %td
        = customer.first_name if customer.first_name?
        = customer.last_name if customer.last_name?
      %td
        = customer.email
      %td
        = link_to "Details", customer, { "data-role" => "button",  "data-transition" => "flip", "data-icon" => "arrow-r",  "data-iconpos" => "right" }


