%h1 Customers

= link_to "Create New Customer", new_customer_path, { "data-role" => "button", "data-transition" => "flip", "data-theme" => "b", "data-icon" => "plus", "data-iconpos" => "left", :class => "medium" }

%table
  - @customers.each do |customer|
    %tr
      %td
        = image_tag "http://placekitten.com/120/#{rand(100..120)}", :class => "avatar"
      %td
        = customer.first_name if customer.first_name?
        = customer.last_name if customer.last_name?
      %td
        = link_to customer.email, "mailto:#{customer.email}"
      %td
        %div{ "data-role" => "fieldcontain", "align" => "center" }
          %fieldset{ "data-role" => "controlgroup", "data-type" => "horizontal" }
            = link_to "Edit", edit_customer_path(customer), { "data-role" => "button",  "data-transition" => "flip" }
            = link_to "Details", customer, { "data-role" => "button",  "data-transition" => "flip", "data-icon" => "arrow-r",  "data-iconpos" => "right" }
