%div.hero-unit
  %h1 Customers
  %p
    You have
    = pluralize(@customers.count, "customer")
    on file
  %p
    = link_to new_customer_path, { :class => "btn btn-primary btn-large" } do
      %i{ :class => "icon-user icon-white" }
      Create New Customer

%div.row
  %table.table.table-striped
    - @customers.each do |customer|
      %tr
        %td
          = link_to image_tag("http://placekitten.com/120/#{rand(100..120)}", :class => "avatar"), customer
        %td
          = customer.first_name if customer.first_name?
          = customer.last_name if customer.last_name?
        %td
          %div.truncate-email
            = link_to customer.email, "mailto:#{customer.email}"
        %td
          %div.btn-group
            = link_to edit_customer_path(customer), { :class => "btn btn-large" } do
              %i.icon-edit
              Edit
            = link_to customer, { :class => "btn btn-large btn-primary" } do
              View
