.btn-group
  = link_to customers_path, { :class => "btn btn-large" } do
    %i{ :class => "icon-arrow-left" }
  %a.btn.btn-large{ "data-toggle" => "modal", :href => "#extendedInfo" }
    Info
  =link_to new_estimate_path, { :class => "btn btn-large" } do
    %i.icon-comment
    Note
  = link_to edit_customer_path, { :class => "btn btn-large" } do
    %i.icon-pencil
    Edit

.page-header
  %h1
    = @customer.first_name
    = @customer.last_name
    %small
      = @customer.email
  .form-actions
    =link_to new_customer_estimate_path(@customer), { :class => "btn btn-success btn-large" } do
      %i.icon-plus-sign.icon-white
      Estimate
    =link_to new_sample_checkout_path, { :class => "btn btn-success btn-large" } do
      %i.icon-plus-sign.icon-white
      = current_user.dealer.sample_name

%h2 
  Timeline
  %small Tap for more info

- if @timeline_stream.count > 0
  = render 'shared/timeline'

= render 'info_modal'
