.page-header
  %p
    = link_to :back, { :class => "btn btn-large" } do
      %i{ :class => "icon-arrow-left" }
      Back
  %h1
    = @customer.first_name
    = @customer.last_name
  
.row
  .span2
    - r = Random.new
    = image_tag "http://placekitten.com/120/#{r.rand(100..120)}", :class => "avatar"
    
  .span5
    %h6 Basic Info
    %table.table.table-striped
      %tr
        %td
          %b Name
        %td
          = @customer.first_name
          = @customer.last_name
      %tr
        %td
          %b Email
        %td
          .truncate-email
            = link_to @customer.email, "mailto:#{@customer.email}"
      %tr
        %td
          %b Phone
        %td
          = number_to_phone(@customer.phone)
          
    %a.btn{ "data-toggle" => "modal", :href => "#extendedInfo" }
      View Extended Information
    
  .span5
    %h6 Location
    %table.table.table-striped
      %tr
        %td
          %strong Address
        %td
          = @customer.address_1
      %tr
        %td
          %strong City
        %td
          = @customer.city
      %tr
        %td
          %strong State &amp; Zip
        %td
          = @customer.state
          = @customer.zip
    
%hr
.row
  .span12.btn-group
    =link_to "Add a Estimate", new_estimate_path, { :class => "btn btn-primary btn-large" }
    =link_to "Add a Note", new_estimate_path, { :class => "btn btn-primary btn-large" }
    =link_to "Add a Demo", new_sample_checkout_path, { :class => "btn btn-primary btn-large" }
%hr

.row
  %h2.span12
    Timeline

- @interaction_stream.each do |item|
  .row
    .interaction.span12
      %i
        =time_ago_in_words(item.updated_at).capitalize
        ago
        ==(#{item.updated_at.strftime("%x @ %l:%M %P")}),
      - if item.class.eql? Estimate
        - if item.user.eql? current_user
          you
        - else
          item.user.full_name
        == gave #{ @customer.first_name } an estimate for #{ number_to_currency(item.total) }.
        - unless item.charges.count.eql? 0
          (Click for details.)
          .charges.hide.toggle.well
            - item.charges.each do |c|
              .charge
                = c.description
                = c.quantity
                = number_to_currency(c.total)
      - elsif item.class.eql? SampleCheckout
        == #{ @customer.first_name } demoed #{ item.sample.name }.

#extendedInfo.modal.fade
  .modal-header
    %a.close{  :href => "#", "data-dismiss" => "modal"}
      ×
    %h3 Extended Info
  .modal-body
    %table.table.table-striped
      %tr
        %td
          %b Age
        %td
          - if @rapleaf_info["age"]
            = @rapleaf_info["age"]
          - else
            %span.help-block N/A
      %tr
        %td
          %b Gender
        %td
          - if @rapleaf_info["gender"]
            = @rapleaf_info["gender"]
          - else
            %span.help-block N/A
      %tr
        %td
          %b Income
        %td
          - if @rapleaf_info["household_income"]
            = @rapleaf_info["household_income"]
          - else
            %span.help-block N/A
      %tr
        %td
          %b Married?
        %td
          - if @rapleaf_info["marital_status"]
            = @rapleaf_info["marital_status"]
          - else
            %span.help-block N/A
      %tr
        %td
          %b Home Owner?
        %td
          - if @rapleaf_info["home_owner_status"]
            = @rapleaf_info["home_owner_status"]
          - else
            %span.help-block N/A
      %tr
        %td 
          %b Home Market Value
        %td
          - if @rapleaf_info["home_market_value"]
            = @rapleaf_info["home_market_value"]
          - else
            %span.help-block N/A
          
  .modal-footer
    %a.btn{ :href => "#",  "data-dismiss" => "modal" }
      Close
