%div.page-header
  %p= link_to "Back", customers_path, { :class => "btn" }
  %h1
    = @customer.first_name
    = @customer.last_name
  
%div.customer_top
  = image_tag "http://placekitten.com/120/#{rand(100..120)}", :class => "avatar"
  %table.table
    %tr
      %td.category Name
      %td
        = @customer.first_name
        = @customer.last_name
      %td.category Gender
      %td N/A
    %tr
      %td.category Email
      %td
        = link_to @customer.email, "mailto:#{@customer.email}"
      %td.category Income
      %td N/A
    %tr
      %td.category Phone
      %td= @customer.phone
      %td.category Location
      %td N/A

%h2
  Quotes
  ==(#{@customer.quotes.count})
%table{ :class => "table table-striped" }
  %thead
    %th Date Created
    %th Price
    %th
  - @customer.quotes.each do |quote|
    %tr
      %td= quote.created_at.to_s(:long)
      %td= number_to_currency(quote.charge_total)
      %td
        = link_to "View Quote", edit_quote_path(quote), { :class => "btn" }

%h2 Measurements
%table
  %thead
    %th Room Name
    %th Width
    %th Length
    %th Area
    
%h2 Notes
%blockquote= @customer.notes