= link_to "Back", customers_path, { "data-role" => "button", "data-transition" => "flip", "data-direction" => "reverse", "data-icon" => "arrow-l", "data-iconpos" => "left", :class => "medium" }

%h2 Profile
%div.customer_top
  = image_tag "http://placekitten.com/120/#{rand(100..120)}", :class => "avatar"
  %table
    %tr
      %td.category Name
      %td
        = @customer.first_name
        = @customer.last_name
      %td.category Gender
      %td N/A
    %tr
      %td.category Email
      %td
        = link_to @customer.email, "mailto:#{@customer.email}"
      %td.category Income
      %td N/A
    %tr
      %td.category Phone
      %td= @customer.phone
      %td.category Location
      %td N/A

%h2
  Quotes
  ==(#{@customer.quotes.count})
%table
  %thead
    %td Date Created
    %td Price
    %td
  - @customer.quotes.each do |quote|
    %tr
      %td= quote.created_at.to_s(:long)
      %td= number_to_currency(quote.charge_total)
      %td
        = link_to "View Quote", edit_quote_path(quote), { "data-role" => "button",  "data-transition" => "slide", "data-icon" => "arrow-r",  "data-iconpos" => "right" }

%h2 Measurements
%table
  %thead
    %td Room Name
    %td Width
    %td Length
    %td Area
    
%h2 Notes
%p= @customer.notes