%div.page-header
  %p= link_to "Back", customers_path, { :class => "btn" }
  %h1
    = @customer.first_name
    = @customer.last_name
  
%div.row
  %div.span2
    = image_tag "http://placekitten.com/120/#{rand(100..120)}", :class => "avatar"
    
  %div.span5
    %table.table.table-striped
      %thead
        %th Basic info
      %tr
        %td
          %b Name
        %td
          = @customer.first_name
          = @customer.last_name
      %tr
        %td
          %b Email
        %td
          = link_to @customer.email, "mailto:#{@customer.email}"
      %tr
        %td
          %b Phone
        %td= @customer.phone
      %tr
        %td
          %b Location
        %td
          = @customer.address_1
          = @customer.city
          = @customer.state
          = @customer.zip
  %div.span5
    %table.table.table-striped
      %thead
        %th Extended info
      %tr
        %td
          %b Age
        %td= @api.query_by_email(@customer.email)["age"]
      %tr
        %td
          %b Gender
        %td= @api.query_by_email(@customer.email)["gender"]
      %tr
        %td
          %b Income
        %td= @api.query_by_email(@customer.email)["household_income"]
      %tr
        %td
          %b Married?
        %td N/A

%div.page-header
  %h2
    Quotes
    %small==(#{@customer.quotes.count})
- if @customer.quotes.present?
  %table{ :class => "table table-striped" }
    %thead
      %th Date Created
      %th Price
      %th
    - @customer.quotes.each do |quote|
      %tr
        %td= quote.created_at.to_s(:long)
        %td= number_to_currency(quote.charge_total)
        %td
          = link_to "View Quote", edit_quote_path(quote), { :class => "btn" }
- else
  %p= link_to "Create a quote", new_quote_path, { :class => "btn" }

%div.page-header
  %h2 Measurements
%table
  %thead
    %th Room Name
    %th Width
    %th Length
    %th Area
  
%div.page-header    
  %h2 Notes
%blockquote= @customer.notes
