.page-header
  %h1
    = @customer.first_name
    = @customer.last_name
    %small
      = @customer.email
      %a#expandInfo.btn.btn-mini
        &hellip;
      = link_to "Edit", edit_customer_path, { :id => "edit", :class => "btn btn-mini hide" }
  #customerinformation.hide
    %hr
    %table.table.table-striped  
      %tr
        %td
          %b Name
        %td
          = @customer.first_name
          = @customer.last_name
      %tr
        %td
          %b Email
        %td
          .truncate-email
            = link_to @customer.email, "mailto:#{@customer.email}"
      %tr
        %td
          %b Phone
        %td
          = number_to_phone(@customer.phone)
      %tr
        %td
          %strong Address
        %td
          = @customer.address_1
      %tr
        %td
          %strong City
        %td
          = @customer.city
      %tr
        %td
          %strong State &amp; Zip
        %td
          = @customer.state
          = @customer.zip    
      %tr
        %td
          %b Age
        %td
          - if @rapleaf_info["age"]
            = @rapleaf_info["age"]
          - else
            %span.help-block N/A
      %tr
        %td
          %b Gender
        %td
          - if @rapleaf_info["gender"]
            = @rapleaf_info["gender"]
          - else
            %span.help-block N/A
      %tr
        %td
          %b Income
        %td
          - if @rapleaf_info["household_income"]
            = @rapleaf_info["household_income"]
          - else
            %span.help-block N/A
      %tr
        %td
          %b Married?
        %td
          - if @rapleaf_info["marital_status"]
            = @rapleaf_info["marital_status"]
          - else
            %span.help-block N/A
      %tr
        %td
          %b Home Owner?
        %td
          - if @rapleaf_info["home_owner_status"]
            = @rapleaf_info["home_owner_status"]
          - else
            %span.help-block N/A
      %tr
        %td 
          %b Home Market Value
        %td
          - if @rapleaf_info["home_market_value"]
            = @rapleaf_info["home_market_value"]
          - else
            %span.help-block N/A

.btn-group
  =link_to new_customer_estimate_path(@customer), { :class => "btn btn-success btn-large" } do
    %i.icon-plus-sign.icon-white
    Estimate
  =link_to new_sample_checkout_path, { :class => "btn btn-success btn-large" } do
    %i.icon-plus-sign.icon-white
    = current_user.dealer.sample_name
  =link_to new_estimate_path, { :class => "btn btn-success btn-large" } do
    %i.icon-edit.icon-white

%hr

- if @timeline_stream.count > 0
  %h2 
    Timeline
    %small Tap for more info
  = render 'shared/timeline'

