.btn-group
  = link_to customers_path, { :class => "btn btn-large" } do
    %i{ :class => "icon-arrow-left" }
  %a.btn.btn-large{ "data-toggle" => "modal", :href => "#extendedInfo" }
    Info
  =link_to new_estimate_path, { :class => "btn btn-large" } do
    %i.icon-comment
    Note
  = link_to edit_customer_path, { :class => "btn btn-large" } do
    %i.icon-pencil
    Edit

.page-header
  %h1
    = @customer.first_name
    = @customer.last_name
    %small
      = @customer.email
  .form-actions
    =link_to new_estimate_path, { :class => "btn btn-success btn-large" } do
      %i.icon-plus-sign.icon-white
      Estimate
    =link_to new_sample_checkout_path, { :class => "btn btn-success btn-large" } do
      %i.icon-plus-sign.icon-white
      = current_user.dealer.sample_name

%h2 
  Timeline
  %small Tap for more info

- if @interaction_stream.count > 0
  .accordion{ :id => "accordion" }
    - @interaction_stream.each do |item|
      .accordion-group
        .accordion-heading
          = link_to "#collapse#{item.id}", { :class => "accordion-toggle", "data-toggle" => "collapse", "data-parent" => "#accordion" } do
            %strong
              =time_ago_in_words(item.updated_at).capitalize
              ago
            - if item.class.eql? Estimate
              - if item.user.eql? current_user
                you
              - else
                = item.user.full_name
              == gave #{ @customer.first_name } an estimate for #{ number_to_currency(item.total) }.
            - elsif item.class.eql? SampleCheckout
              == #{ @customer.first_name } checked-out #{ item.sample.name }.
        %div{ :class => "accordion-body collapse", :id => "collapse#{item.id}" }
          .accordion-inner
            .control-group
              %h4
                = item.customer.first_name
                = item.customer.last_name
              %i.help-block==#{item.updated_at.to_formatted_s(:long_ordinal)}
              - if item.class.eql? Estimate
                - item.charges.each do |c|
                  .charge
                    = c.description
                    = c.quantity
                    = number_to_currency(c.total)
- else
  .alert
    ==There are no events in #{@customer.first_name}'s stream.

= render 'info_modal'
