= link_to "Back", customers_path, { "data-role" => "button", "data-transition" => "flip", "data-direction" => "reverse", "data-icon" => "arrow-l", "data-iconpos" => "left", :class => "medium" }

%h2 Profile
%div.customer_top
  = image_tag "http://placekitten.com/120/#{rand(100..120)}", :class => "avatar"
  %table
    %tr
      %td.category
        Name
      %td
        = @customer.first_name if @customer.first_name
        = @customer.last_name if @customer.last_name
      %td.category
        Gender
      %td
        N/A
    %tr
      %td.category
        Email
      %td
        = @customer.email
      %td.category
        Income
      %td
        N/A
    %tr
      %td.category
        Phone
      %td
        = @customer.phone if @customer.phone
      %td.category
        Location
      %td
        N/A

=debug(@api.query_by_email(@customer.email)) 

%h2 Quotes
%table
  %thead
    %td Date In
    %td ID#
    %td Name
    %td Price

%h2 Measurements
%table
  %thead
    %td Room Name
    %td Width
    %td Length
    %td Area