- @title = "Customer — #{@customer.full_name}"

.page-header
  %h1
    = @customer.first_name
    = @customer.last_name
    %small
      = @customer.email
      %a#expandInfo.btn.btn-mini{ "data-toggle" => "button" }
        &hellip;
      = link_to "Edit", edit_customer_path, { :id => "edit", :class => "btn btn-mini hide" }
  #customerinformation.hide
    = render 'info'

.btn-group
  =link_to new_customer_quote_path(@customer), { :class => "btn btn-success btn-large" } do
    %i.icon-plus-sign.icon-white
    Quote
  %button{ :class => "btn btn-success btn-large", :id => "expandSampleCheckout" }
    %i.icon-plus-sign.icon-white
    = current_user.dealer.sample_name
  %button{ :class => "btn btn-success btn-large", :id => "expandNote" }
    %i.icon-edit.icon-white

#samplearea.hide.js-areas
  %br
  .well
    = render "sample_checkout_form"
#notearea.hide.js-areas
  %br
  .well
    = render "note_form"

%br
- if @timeline_stream.count > 0
  %h2
    Timeline
    %small Tap for more info
  = render 'shared/timeline'

.footer
  .pull-right
    =link_to :back, { :class => "btn btn-large btn-inverse" } do
      %i.icon-arrow-left.icon-white
      Customers
