%div.page-header
  %p
    = link_to customers_path, { :class => "btn btn-large" } do
      %i{ :class => "icon-arrow-left" }
      Back
  %h1
    = @customer.first_name
    = @customer.last_name
  
%div.row
  %div.span2
    - r = Random.new
    = image_tag "http://placekitten.com/120/#{r.rand(100..120)}", :class => "avatar"
    
  %div.span5
    %h6 Basic Info
    %table.table.table-striped
      %tr
        %td
          %b Name
        %td
          = @customer.first_name
          = @customer.last_name
      %tr
        %td
          %b Email
        %td
          %div.truncate-email
            = link_to @customer.email, "mailto:#{@customer.email}"
      %tr
        %td
          %b Phone
        %td= @customer.phone
      %tr
        %td
          %b Location
        %td
          = @customer.address_1
          = @customer.city
          = @customer.state
          = @customer.zip
  %div.span5
    %h6 Extended Info
    %table.table.table-striped
      %tr
        %td
          %b Age
        %td
          = @rapleaf_info["age"] or "N/A"
      %tr
        %td
          %b Gender
        %td
          = @rapleaf_info["gender"] or "N/A"
      %tr
        %td
          %b Income
        %td
          = @rapleaf_info["household_income"] or "N/A"
      %tr
        %td
          %b Married?
        %td N/A

%div.page-header
  %h2
    Quotes
    %small==(#{@customer.quotes.count})

- if @customer.quotes.present?
  %table{ :class => "table table-striped" }
    %thead
      %th Date Created
      %th Price
      %th
    - @customer.quotes.each do |quote|
      %tr
        %td= quote.created_at.to_s(:long)
        %td= number_to_currency(quote.charge_total)
        %td
          = link_to "View Quote", edit_quote_path(quote), { :class => "btn" }
- else
  %p= link_to "Create a quote", new_quote_path, { :class => "btn" }

%div.page-header
  %h2 Measurements
%table
  %thead
    %th Room Name
    %th Width
    %th Length
    %th Area
  
%div.page-header    
  %h2 Notes
%blockquote= @customer.notes
