- if @invitation.recipient 
  - @sample_name = @invitation.recipient.company.sample_name.pluralize
- else
  - @sample_name = "Sample"
- unless @invitation.status == "accepted"
  .row
    .span6.offset3
      %h1
        Connect to #{ @invitation.sender.company.name }
      .well
        .alert.alert-info
          %h2 Important
          %p 
            All your customers' information, your quotes, and your #{@sample_name} will be transferred to #{@invitation.sender.company.name}. Your current company information will be discarded. 
            %em You cannot undo this.

        %p.center
          = link_to invitation_accept_path(@invitation), { :class => "btn btn-large btn-success", :method => :put } do
            Accept
          = link_to invitation_reject_path(@invitation), { :class => "btn btn-large btn-danger", :method => :put } do
            Reject
- else 
  .row
    .span6.offset3
      %h2.center
        This invitation is no longer valid.
      %br