= form_for @company, :html => { :class => "form-horizontal", :id => "company_form" } do |f|
  - content_for :subnav do
    .pull-right
      %input{ :type => :submit, :value => "Save", :class => "btn btn-primary btn-large", :form => "company_form" }

  = render "shared/error_messages", :target => @company
  %fieldset
    .control-group
      = f.label "Company Name", { :class => "control-label" }
      .controls
        = f.text_field :name, :placeholder => "Your Store"
    .control-group
      = f.label :logo, { :class => "control-label" }
      .controls
        = f.file_field :logo
        - if @company.logo_file_name
          %br
          %p= image_tag @company.logo.url(:large)
          %p= link_to "Remove Logo", company_detatch_logo_path(@company), :class => "btn btn-mini btn-danger", :confirm => "Are you sure you want to remove your logo?", :method => "put"
        .hidden-desktop
          %br
          %p.alert.alert-success
            You can upload a logo here from a
            %strong non-mobile
            device.
    .control-group
      = f.label "Address", { :class => "control-label" }
      .controls.docs-input-sizes
        = f.text_field :address_1, { :placeholder => "100 Happy St." }
        = f.text_field :city, :placeholder => "City"
        = f.text_field :state, :placeholder => "State"
        = f.text_field :zip, :placeholder => "Zip"
    .control-group
      = f.label "Phone Number", { :class => "control-label" }
      .controls
        = f.text_field :phone, :placeholder => "(555) 123-4567"
    .control-group
      = f.label "website", { :class => "control-label" }
      .controls
        = f.text_field :website, :placeholder => "awesomeproducts.com"
    %hr
    .control-group
      = f.label "Sample Name", { :class => "control-label" }
      .controls
        = f.text_field :sample_name, :placeholder => "Sample"
        %p
          .alert.alert-info
            This term describes objects that can be checked in and out of your store. Some examples are "Demo", "Bike", "Trial".
    %hr
    .alert.alert-info
      %h4.alert-heading
        Please note
      Entered information will be used in various automated emails that go out to your customers.
