= form_for @company, :html => { :class => "form-horizontal", :id => "company_form" } do |f|
  - content_for :subnav do
    .pull-right
      %input{ :type => :submit, :value => "Save", :class => "btn btn-primary btn-large", :form => "company_form" }

  = render "shared/error_messages", :target => @company
  %fieldset
    .control-group
      = f.label "Company Name", { :class => "control-label" }
      .controls
        = f.text_field :name, :placeholder => "Your Store"
    .control-group
      = f.label :logo, { :class => "control-label" }
      .controls
        = f.file_field :logo
        - if @company.logo_file_name
          %br
          %p= image_tag @company.logo.url(:large)
          %p= link_to "Remove Logo", company_detatch_logo_path(@company), :class => "btn btn-mini btn-danger", :confirm => "Are you sure you want to remove your logo?", :method => "put"
        .hidden-desktop
          %br
          %p.alert.alert-success
            You can upload a logo here from a
            %strong non-mobile
            device.
    .control-group
      = f.label "Address", { :class => "control-label" }
      .controls.docs-input-sizes
        = f.text_field :address_1, { :placeholder => "100 Happy St." }
        = f.text_field :city, :placeholder => "City"
        = f.text_field :state, :placeholder => "State"
        = f.text_field :zip, :placeholder => "Zip"
    .control-group
      = f.label "Phone Number", { :class => "control-label" }
      .controls
        = f.text_field :phone, :placeholder => "(555) 123-4567"
    .control-group
      = f.label "website", { :class => "control-label" }
      .controls
        = f.text_field :website, :placeholder => "awesomeproducts.com"
        %button#toggle_scraping_config.hidden-phone{ :onclick => "return false;", :class => "btn", "data-toggle" => "button" }
          Website Product Grabber
        %div.scraping_config.alert.alert-success
          %h3 We'll search your website for you
          %p If you want, we'll send our gnomes to search through your website and grab product information for you to use.
          - unless @company.wants_website_scraped
            = link_to company_set_wants_website_scraped_path(@company), :class => "btn btn-success", :method => :put do
              %i.icon-chevron-right
              Submit my site!
          - else
            = link_to nil, :class => "btn btn-success disabled" do
              %i.icon-ok
              Thanks! your site has been submitted!
    .control-group
      = f.label "Facebook page", { :class => "control-label" }
      .controls
        = f.text_field :facebook, :placeholder => "http://facebook.com/YourPage"
    .control-group
      = f.label "Sample Name", { :class => "control-label" }
      .controls
        = f.text_field :sample_name, :placeholder => "Sample"
        %p
          .alert.alert-info
            This term describes objects that can be checked in and out of your store. Some examples are "Demo", "Bike", "Trial".
