= form_for @dealer, :html => { :class => "form-horizontal" } do |f|
  - unless @dealer.errors.empty? and @user.errors.empty?
    - @dealer.valid?
    - @user.valid?
    #errorExplanation.errorExplanation
      %h3 There were problems with the following fields:
      %ul
        - (@user.errors.to_a + @dealer.errors.to_a).each do |error|
          %li
            = error
  %fieldset
    %h3 Store info
    %div.control-group
      = f.label "Store name", { :class => "control-label" }
      %div.controls
        = f.text_field :name, :placeholder => "Your Store"
  %fieldset
    %h3 Personal info
    %div.control-group
      = label :user, :first_name, { :class => "control-label" }
      %div.controls
        = text_field :user, :first_name, :placeholder => "Joe"
    %div.control-group
      = label :user, :last_name, { :class => "control-label" }
      %div.controls
        = text_field :user, :last_name, :placeholder => "Smith"
    %div.control-group
      = label :user, :email, { :class => "control-label" }
      %div.controls
        = text_field :user, :email, :placeholder => "joe@mycarpet.com"
    %div.control-group
      = label :user, :password, { :class => "control-label" }
      %div.controls
        = password_field :user, :password
    %div.control-group
      = label :user, :password_confirmation, { :class => "control-label" }
      %div.controls
        = password_field :user, :password_confirmation
        
    %div.form-actions
      = f.submit( "Create Account", :class => "btn btn-primary btn-large" )
