<div class="hr"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <% if @user.avatar_file_name? %>
      <td valign="top">
        <%= image_tag @user.avatar.url(:thumb), :class => "avatar" %>
      </td>
    <% end %>
    <td width="465">
      <p><%= @user.message %></p>
      <span class="subtle">
        <%= @user.full_name %><br /> 
        <% if @user.title.present? %>
          <%= @user.title %><br />
        <% end %> 
    	  <%= mail_to @user.email %>
    	</span>
    </td>
  </tr>
</table>