<h2>Dear <%= @customer.first_name %>,</h2>
<div class="hr"></div>
<h3>Thank you for your purchase</h3>

<p>
  I just wanted to thank you for your recent purchase from our store.
</p>

<p><%= @quote.user.message %></p>
<div class="hr"></div>
<p>
	<%= @quote.user.first_name %> <%= @quote.user.last_name %><br />
	<%= mail_to @quote.user.email %>
</p>