<h2>Dear <%= @customer.first_name %>,</h2>
<h3>Thank you for checking out <%= @sample_checkout.sample.name %>.</h3>
<div class="hr"></div>
<p><%= @sample_checkout.user.message %></p>
<div class="hr"></div>
<p>
	<%= @sample_checkout.user.first_name %> <%= @sample_checkout.user.last_name %><br />
	<%= mail_to @sample_checkout.user.email %>
</p>