%body#salesverge
  #hero
    #leather_bar
      .container
        .pull-left
          = link_to image_tag('salesverge.png', :height => 40, :class => "logo"), "/"
        .pull-right{ :style => ""}
          %ul.nav.nav-pills{ :style => "margin-bottom: 0px" }
            %li.active
              = link_to "What is SalesVerge?", "/"
            %li
              = link_to "Blog", "http://salesvergemarketing.herokuapp.com/blog"
    .container
      .row{ :style => "margin-top: 50px;" }
        %div.pull-left{ :style => "width: 500px; margin-left: 20px;" }
          %h1
            Turn in-store browsers into buyers.
          %br  
          %h4 Sign-up be invited to join
          .controls
            .input-append
              = form_for @request, :url => create_app_requests_path do |f|
                = render "shared/error_messages", :target => @request
                = f.text_field :email, :placeholder => "Email address", :style => "margin-right: -4px;height: 30px;"
                = f.submit("Sign-Up", :class => "btn btn-large btn-success round-override")
                = f.hidden_field :app_name, :value => @app_name
            - if flash[:notice]
              %div.alert.alert-success
                %a.close{ :href => "#", "data-dismiss" => "alert" }
                  &times;
                = flash[:notice]
            - if flash[:error]
              %div.alert.alert-error
                %a.close{ :href => "#", "data-dismiss" => "alert" }
                  &times;
                = flash[:error]
        %div.pull-right{ :style => "width: 400px" }
          .hidden-phone
            %iframe{ :src => "http://player.vimeo.com/video/44335339", :width => "400", :height => "230", "frameborder" => "0" }
  %br
  .container
    .row
      .span12.center
        = image_tag "screens.png", :style => "margin:-60px 0 0 0;position: relative;"
    %br
    .row
      %ul.thumbnails
        %li.span4
          .thumbnail
            = image_tag 'landing_page_2.jpg'
            .caption
              %h3 Automation
              %p Automatically keep in touch with customers
        %li.span4
          .thumbnail
            = image_tag 'landing_page_1.jpg'
            .caption
              %h3 Learn
              %p Learn more about your customers, without having to ask
        %li.span4  
          .thumbnail
            = image_tag 'landing_page_3.jpg'
            .caption
              %h3 Sell More
              %p Sell more to the "ups" you get each day
  = render 'shared/net_results_script'
  = render 'shared/clicky_tracking'
