= form_for(@appointment, :html => { :class => "form-horizontal" }) do |f|
  - if @appointment.errors.any?
    %div#errorExplanation
      %h2
        = pluralize(@appointment.errors.count, "error")
        prohibited this customer from being saved
      %ul
      - @appointment.errors.full_messages.each do |msg|
        %li
          = msg

  %fieldset
    %div.control-group
      = f.label :customer_id, "With whom is the appointment?", { :class => "control-label" }
      %div.controls
        %input{ :placeholder => "Customer Name", :id => "customername" }
        =f.hidden_field :customer_id, :value => -1, :id => :customerid
        %ul.customers.nav.nav-tabs.nav-stacked
          %li#keep
            =link_to "Not found? Add new person...", new_customer_path
  
    %div.control-group
      = f.label :date, { :class => "control-label" }
      %div.controls
        = f.text_field :date, { :placeholder => "2012-3-15" }
  
    %div.control-group
      = f.label :time, { :class => "control-label" }
      %div.controls
        = f.text_field :time, { :placeholder => "12:00 PM" }
    
    %div.control-group
      = f.label :appointment_type, { :class => "control-label" }
      %div.controls
        = f.select :appointment_type, options_for_select(["Measurement", "Quote", "Other"])

    %div.form-actions
      = f.submit( :class => "btn btn-primary btn-large" )
      = link_to "Cancel", :back, { :class => "btn btn-large" }
      = f.hidden_field :status, :value => "Pending"
