= form_for(@appointment) do |f|
  - if @appointment.errors.any?
    %div#errorExplanation
      %h2
        = pluralize(@appointment.errors.count, "error")
        prohibited this customer from being saved
      %ul
      - @appointment.errors.full_messages.each do |msg|
        %li
          = msg
          
  %div.field{ "data-role" => "fieldcontain" }      
    %input{ :placeholder => "Customer Name", :id => "customername" }
    =f.hidden_field :customer_id, :value => -1, :id => :customerid
    %div.customers
  
  %div.field{ "data-role" => "fieldcontain" }
    = f.text_field :date, { "type" => "date", "data-role" => "datebox", :value => Date.today, "data-options" => '{"useInline": true, "useInlineHideInput": true, "mode": "calbox"}' }
  
  %div.field{ "data-role" => "fieldcontain" }
    = f.text_field :time, { :placeholder => "12:00 PM", "data-role" => "datebox", :readonly => "readonly", "data-options" => '{"focusMode": true, "mode": "timeflipbox", "timeFormatOverride": 12}' }
    
  %div.field{ "data-role" => "fieldcontain" }
    = f.label :appointment_type
    = f.select :appointment_type, options_for_select(["Measurement", "Quote", "Other"])

  %div.actions
    = f.submit("data-theme" => "b")
    = f.hidden_field :status, :value => "Pending"
