= form_for(@appointment) do |f|
  - if @appointment.errors.any?
    %div#errorExplanation
      %h2
        = pluralize(@appointment.errors.count, "error")
        prohibited this customer from being saved
      %ul
      - @appointment.errors.full_messages.each do |msg|
        %li
          = msg
          
  %div.field{ "data-role" => "fieldcontain" }      
    = f.label :customer_id, "With whom is the appointment?"
    = f.select :customer_id, options_from_collection_for_select(@customers, :id, :email)
  
  %div.field{ "data-role" => "fieldcontain" }
    = f.label :date
    = f.text_field :date, { "type" => "date", :class => "hidden", :value => @appointment.try(:date).try(:strftime,'%Y-%m-%d') }
  
  %div.field{ "data-role" => "fieldcontain" }
    = f.label :time
    = f.text_field :time, { :placeholder => "12:00 PM", "data-role" => "datebox", "data-options" => "{'mode': 'timeflipbox', 'timeFormatOverride': 12}" }
    
  %div.field{ "data-role" => "fieldcontain" }
    = f.label :appointment_type
    = f.select :appointment_type, options_for_select(["Measurement", "Quote", "Other"])

  %div.actions
    = f.submit("data-theme" => "b")
    = f.hidden_field :status, :value => "Pending"
