= form_for(@appointment, :html => { :class => "form-horizontal" }) do |f|
  = f.error_messages :header_message => "There were problems with the following fields:",
    :message => "",
    :header_tag => :h3

  %fieldset
    %div.control-group
      = f.label :customer_id, "Customer", { :class => "control-label" }
      %div.controls
        %input{ :placeholder => "Name", :id => "customername" }
        =f.hidden_field :customer_id, :value => -1, :id => :customerid
        %ul.customers.nav.nav-tabs.nav-stacked
          %li#keep
            =link_to "Not found? Add a new customer...", new_customer_path
  
    %div.control-group
      = f.label :date, { :class => "control-label" }
      %div.controls
        = f.text_field :date, { :value => Date.today, 
          :id => "datepicker", :readonly => true, :type => "date" }
  
    %div.control-group
      = f.label :time, { :class => "control-label" }
      %div.controls
        = f.text_field :time, { :placeholder => "12:00 PM",
          :type => "time" }
    
    %div.control-group
      = f.label :appointment_type, "Appointment Type", { :class => "control-label" }
      %div.controls
        = f.select :appointment_type, options_for_select(["Quote", "Measurement", "Other"])

    %div.form-actions
      %div.btn-group
        = f.submit( :class => "btn btn-primary btn-large" )
        = link_to "Cancel", :back, { :class => "btn btn-large" }
      = f.hidden_field :status, :value => "Pending"
