%div.hero-unit
  %h1 Appointments
  %p
    You have
    = pluralize(@pending_appointments, "pending appointment")
  %p
    = link_to new_appointment_path, { :class => "btn btn-primary btn-large" } do
      %i{ :class => "icon-calendar icon-white" }
      New Appointment

%table{ :class => "table table-striped" }
  %thead
    %th Time
    %th Type
    %th Customer
    %th Status
  - @appointments.each do |appointment|
    %tr
      %td
        = appointment.date.to_formatted_s(:long)
        @
        = appointment.time.to_formatted_s(:time)
      %td= appointment.appointment_type
      %td
        = link_to "#{appointment.customer.first_name} #{appointment.customer.last_name}", appointment.customer

      %td
        - if appointment.status == "Pending"
          = form_for(appointment) do |f|
            = f.submit("Start", :class => "btn btn-success")
            = f.hidden_field :status, :value => "Started"
        - elsif appointment.status == "Started"        
          = form_for(appointment) do |f|
            = f.submit("Finish", :class => "btn btn-warning")
            = f.hidden_field :status, :value => "Completed"
        -else
          =link_to "Completed", nil, { :class => "btn disabled" }
