%div.hero-unit
  %h1 Appointments
  %p
    You have
    = pluralize(@pending_appointments, "pending appointment")
  %p
    = link_to new_appointment_path, { :class => "btn btn-primary btn-large" } do
      %i{ :class => "icon-calendar icon-white" }
      New Appointment

%table{ :class => "table table-striped" }
  %thead
    %th Date &amp; Time
    %th Type
    %th Customer
    %th Rep
    %th
  - @appointments.each do |appointment|
    %tr
      %td
        = appointment.date.to_formatted_s(:long_ordinal)
        %br
        - if appointment.late?
          %span.label.label-important
            =appointment.time.to_formatted_s(:standard_time)
            %i.icon-time.icon-white
        - else    
          %span.label
            =appointment.time.to_formatted_s(:standard_time)
      %td
        %span.label.label-info= appointment.appointment_type[0]
      %td
        = link_to "#{appointment.customer.first_name} #{appointment.customer.last_name}", appointment.customer
      %td
        = appointment.user.first_name
        = appointment.user.last_name[0]
      %td
        - if appointment.status == "Pending"
          = form_for(appointment) do |f|
            = f.submit("Start", :class => "btn btn-success btn-large")
            = f.hidden_field :status, :value => "Started"
        - elsif appointment.status == "Started"        
          = form_for(appointment) do |f|
            = f.submit("Finish", :class => "btn btn-danger btn-large")
            = f.hidden_field :status, :value => "Completed"
        -else
          =link_to "Completed", nil, { :class => "btn disabled btn-large" }
