= form_for(@charge, :url => { :action => :create }, :html => { :class => "form-horizontal" }) do |f|
  - if @charge.errors.any?
    %div#errorExplanation
      %h2
        = pluralize(@charge.errors.count, "error")
        prohibited this customer from being saved
      %ul
      - @charge.errors.full_messages.each do |msg|
        %li
          = msg
  
  %fieldset
    %div.control-group
      = f.label :description, "What is this charge for?", { :class => "control-label" }
      %div.controls
        = f.text_field :description, :placeholder => "Carpet installation"
  
    %div.control-group
      = f.label :price, { :class => "control-label" }
      %div.controls
        = f.text_field :price, :placeholder => "500"
  
  %div.control-group
    = f.label :quantity, { :class => "control-label" }
    %div.controls
      = f.text_field :quantity, :placeholder => "1"

  %div.form-actions
    = f.submit(:class => "btn btn-primary btn-large")
    = link_to "Cancel", :back, { :class => "btn btn-large" }
    = f.hidden_field :date, :value => Time.now
    = f.hidden_field :quote_id, :value => @quote.id