<!DOCTYPE html>
<html>
<head>
  <title>DealerOnTheGo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
  
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
  <%= stylesheet_link_tag "application", :media => "all" %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
  
  <%= csrf_meta_tags %>
</head>

<body>
  <div data-role="page">
    <div data-role="content">
      <div class="logo">
        <img src="http://s3.amazonaws.com/dealer_ignition/dealer_ipad/sample_logo.png" />
      </div>
      <div data-role="navbar">
        <ul>
          <li>
            <%= link_to "Dashboard", "#" %>
          </li>
          <li>
            <%= link_to "Customers", customers_path %>
          </li>
          <li>
            <%= link_to "Appointments", appointments_path %>
          </li>
          <li>
            <%= link_to "Samples", sample_checkouts_path %>
          </li>
          <li>
            <%= link_to "Quotes", quotes_path %>
          </li>
        </ul>
      </div>
      <%= yield %>
    </div>
  </div>

</body>
</html>
