<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
body {
	background: #f5f5f5;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-rendering: optimizelegibility;
	color: #333;
	font-size: 15px;
}
h1, h2, h3 {
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	text-rendering: optimizelegibility;
}
h1 {
	font-size: 24px;
	margin: 5px 0;
}
h2 {
	font-size: 20px;
	margin: 0px;
}
h3 {
	font-size: 16px;
}
p {
	color: #333;
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 9px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}
a {
	color: #1855A0;
	text-decoration: underline;
}
.hr {
	border-top:1px solid #E5E5E5;
	margin-top: 10px;
	margin-bottom: 15px;
}
#masthead {
	background-color: #e1e1e1;
	padding: 20px;
	padding-bottom: 0;
	border: 1px solid #DDDDDD;
	border-top: none;
	text-align: center;
}
#masthead #name, #masthead #address, #masthead #phoneweb {
	text-align: left;
	padding: 0;
}
#logo {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
#logo img {
  height: 120px;
  max-height: 120px;
  vertical-align: top;
}
#logo span {
  background-color: #396A61;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-left: 13px;
}
#masthead #name td.border-bottom {
  padding-bottom:7px;
  border-bottom: 1px solid #888;
}
#masthead #name td.contact {
  padding-top: 10px;
}
#masthead #address {
  width:140px;
  padding-top:7px;
}
#masthead #phoneweb {
	padding-left:30px;
  padding-top:7px;
}
#content {
	background: #ffffff;
	border: 1px solid #DDDDDD;
	border-bottom: none;
	padding: 20px;
}
table.tablebordered {
	border: 1px solid #dddddd;
  border-collapse: separate;
  border-collapse: collapsed;
  font-size:14px;
  text-align: right;
}
table.tablebordered td.left, table.tablebordered th.left {
  text-align: left;
}
table.tablebordered td.price {
  width:70px;
}
table.tablebordered tr {
  border-bottom: 1px solid #dddddd;
}
table.tablebordered thead th, table.tablebordered tbody td, table.tablebordered tfoot td {
  padding:8px;
}
table.tablebordered thead th {
  background: #cfcfcf;
  border-bottom: 1px solid #dddddd;
}
table.tablebordered tbody td {
  border-bottom: 1px solid #dddddd;
}
table.tablebordered tfoot td {
	background: #f5f5f5;
}
#footer {
	font-size: 12px;
	text-align: center;
}
.avatar {
  width: 75px;
}
.subtle {
  color: #333333;
  font-size: 13px;
}
.subtle p.contactinfo {
  font-size: 13px;
  line-height: 15px;
}
#fbimg {
  vertical-align: text-bottom;
}
</style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<center>
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
    <tr>
      <td style="border-collapse: collapse;">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" valign="top" style="border-collapse: collapse;">

        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
          <tr>
            <td align="center" valign="top" style="border-collapse: collapse;">
              <table border="0" cellpadding="0" cellspacing="0" width="600">
                <tr>
                  <td valign="top" class="bodyContent">
                  	
                    <table border="0" cellpadding="0" cellspacing="0" width="100%"  id="content">
                      <tr>
                        <td valign="top">
                          <table cellpadding="0" cellspacing="0" border="0" width="555">
                            <tr id="yield">
                              <td>
                                <div id="logo">
                                  <% if @company.logo_file_name? %>
                                    <a target="_blank" href="#{@company.website}">
                                      <%= link_to image_tag(@company.logo.url(:large)), "#{@company.website}" if @company.website? %>
                                    </a>
                                  <% else %>
                                    <br />
                                    <span><%= @company.name %></span>
                                    <br /><br />
                                  <% end %>
                                </div>
                                <div class="hr"></div>
                                 
                                 <!-- YIELD -->
					                       <%= yield %>
					                       <!-- END YIELD -->

                              </td>
                            </tr>
                          </table>
                         </td>
                      </tr>
                   </table>
                   
                   <table border="0" cellpadding="20" cellspacing="0" width="100%" id="masthead">
                     <tr>
                         
                       
                       <td valign="top" id="name">
                         <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom: 25px;">
                         <tr>
                           <td class="border-bottom">
                             <h2>
                         	    <%= @company.name %>
                             </h2>
                           </td>
                           <td class="border-bottom">
                             &nbsp;
                           </td>
                         </tr>
                         <tr class="subtle">
                           <td valign="top" class="contact">
                         	  <p class="contactinfo">
                         	    <%= @company.address_1 %><br />
                               <% if @company.city.present? %>
                                 <%= @company.city %>,
                               <% end %>
                               <% if @company.state? %>
                                 <%= @company.state %>
                               <% end %>
                               <% if @company.zip? %>
                                 <%= @company.zip %>
                               <% end %>
                             </p>
                            </td>
                           <td valign="top" class="contact">
                            <p class="contactinfo">
                              <% if @company.phone? %>
                         	      Phone: <%= number_to_phone(@company.phone) %>
                         	    <% end %>
                         	    <br />
                         	    <%= link_to "Visit our website", "#{@company.website}" if @company.website? %> 
                         	    | 
                         	    <%= link_to "Visit us on Facebook", "#{@company.facebook}" if @company.facebook? %>
                         	    <%= link_to image_tag("facebook.jpg", :id => "fbimg"), "#{@company.facebook}" if @company.facebook? %>
                         	  </p>
                         	</td>
                         </table>
                       </td>
                     </tr>
                 	</table>
                   
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

    <tr>
      <td align="center" valign="top" >
        <table border="0" cellpadding="10" cellspacing="0" width="600" id="footer">
          <tr>
            <td valign="top" class="footerContent" style="border-collapse: collapse;">
              <!-- This is where footer content would go -->
            </td>
          </tr>
        </table>
      </td>
    </tr>

  </table>
</center>
</body>
</html>
