-content_for :body do
  - if Rails.env.development?
    %h3#developmentBanner.hidden-phone development
    %h3#developmentBannerphone.visible-phone dev
  .navbar-simple
    %ul.nav.nav-pills
      %li{ :class => "#{"active" if request.path.eql? "/"}" }
        = link_to dashboard_path, :onclick => "return tog('load')" do
          %i.icon_home_opt
      %li{ :class => "#{"active" if request.path.include? "customers"}" }
        = link_to customers_path, :onclick => "return tog('load')" do
          %i.icon_user_opt
      %li{ :class => "#{"active" if request.path.include? "settings"}" }
        = link_to account_settings_account_path, :onclick => "return tog('load')" do
          %i.icon_gear_opt

  %div.container
    - if flash[:notice]
      %div.alert.alert-success
        %a.close{ :href => "#", "data-dismiss" => "alert" }
          &times;
        = flash[:notice]
    - if flash[:alert]
      %div.alert.alert-info
        %a.close{ :href => "#", "data-dismiss" => "alert" }
          &times;
        = flash[:alert]
    - if flash[:error]
      %div.alert.alert-error
        %a.close{ :href => "#", "data-dismiss" => "alert" }
          &times;
        = flash[:error]
    = yield

=render :template => "layouts/application"
