-content_for :body do
  .navbar-simple
    %ul.nav.nav-pills
      %li{ :class => "#{"active" if request.path.eql? "/"}" }
        = link_to dashboard_path do
          %i.icon_home_opt
      %li{ :class => "#{"active" if request.path.include? "customers"}" }
        = link_to customers_path do
          %i.icon_user_opt
      %li{ :class => "#{"active" if request.path.include? "settings"}" }
        = link_to account_settings_account_path do
          %i.icon_gear_opt
              
  %div.container
    - if flash[:notice]
      %div.alert.alert-success
        %a.close{ :href => "#", "data-dismiss" => "alert" }
          &times;
        = flash[:notice]
    - if flash[:alert]
      %div.alert.alert-info
        %a.close{ :href => "#", "data-dismiss" => "alert" }
          &times;
        = flash[:alert]
    - if flash[:error]
      %div.alert.alert-error
        %a.close{ :href => "#", "data-dismiss" => "alert" }
          &times;
        = flash[:error]
    = yield

=render :template => "layouts/application"
