-content_for :body do
  .container
    .row
      .span6.offset3.center
        = image_tag('logo.png', :width => 227, :height => 81, :id => "logo")
    .row
      .span6.offset3
        - if flash[:notice]
          .alert.alert-success
            %a.close{ :href => "#", "data-dismiss" => "alert" }
              &times;
            = flash[:notice]
        - if flash[:alert]
          .alert.alert-info
            %a.close{ :href => "#", "data-dismiss" => "alert" }
              &times;
            = flash[:alert]
        - if flash[:error]
          .alert.alert-error
            %a.close{ :href => "#", "data-dismiss" => "alert" }
              &times;
            = flash[:error]          
    = content_for?(:body) ? yield(:body) : yield
  
= render :template => "layouts/application"
= render 'shared/net_results_script'
